{{>nav}}

<div class="jumbotron jumbotron-fluid">
  <div class="container hero-box">
    <h1 class="display-4">Washington Post Scraped</h1>
    <h2 class="lead">Democracy Dies in Darkness</h2>
  </div>
</div>

<div>

	<div class="no-articles">
		<div class="alert alert-dark" role="alert">
		  You have no articles. Please click <span class="scrape">Scrape New Articles</span> to get some.
		</div>
	</div>
	
	

</div>